.DrawerHeader {
  background-color: #ddc6b0;
  height: 6rem;
  text-align: center;
  border-bottom: 1rem solid rgb(221, 166, 94);
}
.sidebar-button {
  margin-left: 1rem;
  padding-bottom: 0;
  cursor: pointer;
  &:hover {
    color: #6e4f30;
    // transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }
}
.teacher_name {
  margin-top: 1.9rem;
  margin-bottom: 1.2rem;
}
.DrawerBody {
  background-color: #f1eae9;

  a {
    margin-top: 1.5rem;
    margin-left: 2rem;
    display: block;
    color: rgb(85, 84, 84);
    font-weight: 1000;
    font-size: 1.5rem;
  }
  a:hover {
    transform: translateX(-10px);
    transition: 0.2s ease;
    background-color: rgb(219, 214, 214);
    color: black;
  }
}
.DrawerBody:hover a:not(:nover) {
  opacity: 0.1;
}
