.title {
  font-size: 3rem;
}
.modal-main {
  display: flex;
  .left {
    flex-direction: column;
    flex: 1;
    .left_top {
      display: flex;
      .image {
        margin: 2rem;
        width: 10rem;
        height: 10rem;
        border: 0.2px solid black;
        // border-radius: 100%;
      }
      .name {
        font-weight: 1000;
        font-size: 2.5rem;
        margin-top: 2.8rem;
      }
      .stars {
        font-size: 1.2rem;
        font-weight: 700;
      }
      .input-file-button {
        padding: 6px 25px;
        background-color: #c8af9f;
        border-radius: 2px;
        color: white;
        cursor: pointer;
      }
    }
    .left_bot {
      margin-left: 2rem;
      .contents {
        font-size: 1.2rem;
        font-weight: 400;
        input {
          width: 60%;
        }
      }
    }
  }
  .right {
    flex: 1;
  }
  .memo {
    margin-top: 2rem;
    background-color: whitesmoke;
    font-size: 0.7rem;
    font-weight: 700;
    height: 20rem;
    border-radius: 5px;
    .memo_title {
      text-align: center;
      font-size: 2rem;
      margin: auto;
      font-weight: 700;
    }
    .memo_contents {
      margin: 1rem;
      font-size: 1rem;
    }
  }
  .go_update {
    color: red;
    background-color: rgb(235, 243, 219);
  }
}
.quiz-log {
  .quiz-log-title {
    display: flex;
    justify-content: center;
    align-items: center;
    .quiz-log-img {
      height: 5rem;
    }
    div {
      font-size: 2rem;
    }
  }
  .quiz-log-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 25rem;
    margin: 1rem 0;
    flex-direction: column;
    &::-webkit-scrollbar {
      visibility: hidden;
      width: 7px;
    }
    &:hover {
      &::-webkit-scrollbar {
        visibility: visible;
        width: 7px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #C49A6C;
        border-radius: 10px;
        background-clip: padding-box;
        border: 1px solid transparent;
      }
    }
    .Q {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      .beap {
        padding: 1px 5px;
        background-color: rgba(226, 179, 93, 0.61);
        font-weight: normal;
      }
    }
    .correct>.o {
      background-color: rgba(177, 231, 141, 0.61);
    }
    .wrong {
      .o{
        background-color: rgba(177, 231, 141, 0.61);
      }
      #x {
        background-color: rgba(226, 179, 93, 0.473);
      }
    }
  }
}