.DrawerHeader {
  // background: linear-gradient(70deg, #3e46d3 0%, #8f94fb 100%);
  background-color: #5c5a8f;
  text-align: center;
}
.sidebar-button {
}
.teacher_name {
  margin-top: 0.5rem;
  color: white;
}
.DrawerBody {
  background-color: #525181;
  // background: linear-gradient(70deg, #4e54c8 0%, #8f94fb 100%);
  // text-align: center;
  .Icon {
    margin-right: 1rem;
  }
  a {
    margin-top: 2rem;
    display: block;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
  }
}
