.streamcomponent {
  align-items: center;
}
.low {
  margin-top: 1rem;
  width: 24rem;
  height: auto;
  float: left;
  cursor: pointer;
  border-radius: 15px;
  border: 7px solid rgb(250, 100, 100);
  /* filter: brightness(150%) hue-rotate(260deg); */
}
.high {
  margin-top: 1rem;
  width: 24rem;
  height: auto;
  float: left;
  cursor: pointer;
  border-radius: 15px;
  border: 7px solid rgb(43, 252, 1);
  /* filter: hue-rotate(70deg); */
}
#high {
  display: flex;
  position: absolute;
  margin-top: 1rem;
  background: rgb(43, 252, 1);
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
}
#isSpeaking {
  margin-top: 1rem;
  width: 24rem;
  height: auto;
  float: left;
  cursor: pointer;
  border-radius: 15px;
  border: 7px solid rgb(250, 135, 3);
}
#isSpeakingname {
  display: flex;
  position: absolute;
  margin-top: 1rem;
  background: rgb(250, 135, 3);
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
}
.normal {
  margin-top: 1rem;
  width: 24rem;
  height: auto;
  float: left;
  cursor: pointer;
  border: 3px solid #66d193;
  border-radius: 15px;
}

.teacherScore {
  margin-top: 1rem;
  width: 24rem;
  height: 18.1rem;
  float: left;
  cursor: pointer;
  border-radius: 15px;
  border: 3px solid rgb(39, 80, 190);
  object-fit: cover;
}
.studentName {
  display: flex;
  position: absolute;
  margin-top: 1rem;
  background: #657da8;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
}
.studentName img {
  margin-left: 0.3rem;
  height: 1rem;
  margin-top: 0.25rem;
}
.teacherName {
  position: absolute;
  margin-top: 1rem;
  background: rgb(39, 80, 190);
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(255, 253, 253);
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
}
