.CARD {
  // 빈 공간(사이즈 맞춰줘야해, 색도 뒤랑 맞추기)
  width: 17rem;
  height: 21rem;
  // 배경이랑 맞추기
  background-color: #d8c5b3;
  border: none;
  margin-top: 5rem;
  margin-left: 5rem;
  border-radius: 5px;
  cursor: pointer;
}
.card-case {
  width: 80%;
  margin: auto;
  .cards {
    margin-right: 10rem;
    flex: 3;
  }
}
.f-cardbox {
  width: 17rem;
  height: 21rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 7px;

  .image {
    margin: auto;
    margin-top: 3.5rem;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
  }
  .card-title {
    font-weight: 1000;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
  .stars {
    margin-left: 0.7rem;
    font-size: 1.2rem;
    font-weight: 700;
    user-select: none;
  }
}
.b-cardbox {
  //카드뒷면
  position: absolute;
  width: 17rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 3px 3px 7px;

  .img-name-star {
    display: flex;
    .image {
      margin: 2rem;
      margin-bottom: 1rem;
      width: 6rem;
      height: 6rem;
      border-radius: 100%;
    }
    .card-title {
      font-weight: 1000;
      font-size: 1.5rem;
      margin-top: 2.7rem;
    }
    .stars {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  .memo {
    flex-direction: column;
    margin: 0.5rem;
    font-size: 0.7rem;
    font-weight: 700;
    .stars {
      margin-left: 1rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      font-weight: 700;
    }
    .memo-title {
      font-size: 1rem;
      margin-left: 6rem;
      font-weight: 700;
    }
    .memo-content {
      margin-left: 1rem;
      font-size: 0.8rem;
    }
  }
}

.CARD > .f-cardbox {
  // 카드 앞면 정의 (색)
  transform: perspective(600px) rotateY(0deg);
  background-color: rgb(245, 245, 245);
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
.CARD > .b-cardbox {
  // 카드 뒷면 정의 (색)
  // background: linear-gradient(90deg, #e0eafc 0%, #a0b6d4 100%, #e0eafc 0%);
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.6s linear 0s;
  background-color: whitesmoke;
}
.CARD:hover > .f-cardbox {
  transform: perspective(600px) rotateY(-180deg);
}
.CARD:hover > .b-cardbox {
  transform: perspective(600px) rotateY(0deg);
}
