.infolder {
  background-color: white;
  width: 65%;
  margin: auto;
  min-width: 900px;
}
.infolder-nav {
  background-color: pink;
  // 위에 얼마나 남길지 결정은 padding-top으로
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .infolder-li-a {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    position: relative;
    ::before {
      content: "";
      height: 20px;
      width: 20px;
      background-color: red;
      border-radius: 10px;
      transition: 0.3s;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    :hover {
      cursor: pointer;
      color: black;
    }
  }
}
.infolder-sub {
  background-color: cornsilk;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
  .infolder-each-sub {
    padding: 0.5rem 1.5rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
  }
}
.infolder-grade {
  width: 10%;
  margin: 1rem;
}
.infolder-quiz {
  margin-left: 1rem;
  display: flex;
  text-align: left;
  p {
    margin-left: 2rem;
  }
  .infolder-quiz-last {
    margin-left: 2rem;
    width: 42rem;
    .infolder-correct {
      background-color: yellowgreen;
    }
  }
}
.infolder-quiz-open {
  background-color: whitesmoke;
}