.main1 {
  @keyframes rbSpinner {
    from {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
    to {
      transform: rotate(-5deg);
    }
  }
  height: 100vh;
  display: flex;
  flex-flow: wrap;
  .rainbow {
    height: 100vh;
    width: 20%;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    .speech-bubble1 {
      p {
        padding: 0.75rem;
      }
      margin: auto;
      margin-top: 1rem;
      position: relative;
      background: #7ddfe8;
      border-radius: 0.4em;
      width: 8rem;
      height: 3rem;
    }

    .speech-bubble1:after {
      content: "";
      position: absolute;
      top: 0;
      left: 60%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-bottom-color: #7ddfe8;
      border-top: 0;
      border-left: 0;
      margin-left: -10px;
      margin-top: -20px;
    }
    .speech-bubble2 {
      p {
        padding: 0.75rem;
      }
      margin: auto;
      margin-top: 1rem;
      position: relative;
      background: #9c826e;
      border-radius: 0.4em;
      width: 8rem;
      height: 3rem;
    }

    .speech-bubble2:after {
      content: "";
      position: absolute;
      top: 0;
      left: 40%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-bottom-color: #9c826e;
      border-top: 0;
      border-right: 0;
      margin-left: -10px;
      margin-top: -20px;
    }
    &:hover {
      transform: scaleX(1.07);
      transition: 0.5s;
      .rainbow-p {
        transform: scale(1.2);
        transition: 1s;
      }
      .rainbow-img {
        animation: rbSpinner 1s;
        animation-iteration-count: infinite;
      }
      .rainbow-img1 {
        animation: rbSpinner 1s;
        animation-iteration-count: infinite;
      }
      .rainbow-img2 {
        animation: rbSpinner 1s;
        animation-iteration-count: infinite;
      }
      .rainbow-img4 {
        animation: rbSpinner 1s;
        animation-iteration-count: infinite;
      }
    }
    &:hover {
      transform: scaleX(1.07);
      transition: 0.5s;
      .rainbow-p {
        transform: scale(1.2);
        transition: 1s;
      }
    }
    .rainbow-p {
      margin-top: -20rem;
      color: aliceblue;
      font-weight: bold;
      font-size: 5rem;
    }
    .rainbow-img1 {
      width: 15vw;
      height: 25vh;
      margin-bottom: 3.5rem;
    }
    .rainbow-img2 {
      width: 15vw;
      height: 25vh;
      margin-bottom: 5.5rem;
    }
    .rainbow-img4 {
      width: 10vw;
      height: 20vh;
      margin-bottom: 5.5rem;
    }
    .rainbow-img {
      width: 15vw;
      height: 25vh;
    }
    &#rb1 {
      background-color: #f1c46c;
    }
    &#rb2 {
      background-color: #f6aaaa;
    }
    &#rb3 {
      background-color: #b5e8f9;
    }
    &#rb4 {
      background-color: #a7de93;
    }
    &#rb5 {
      background-color: #707cef;
    }
  }
}
