.Main1 {
  background-color: rgb(22, 21, 21);
  height: 100vh;
  .typing {
    text-transform: capitalize;
    white-space: nowrap;
    color: transparent;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    // 텍스트를 정 가운데에 고정시키려면 필수
    &::before {
      content: "we are teaching master...";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      color: #fffefe;
      overflow: hidden;
      border-right: 3px solid rgb(238, 237, 237);
      // 커서역할을 하는것
      animation: typing 8s steps(30) infinite;
    }
  }
  .btn_box {
    display: flex;
    justify-content: center;
    a {
      margin: 2rem;
      margin-top: 30rem;
    }
  }
}
@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.Main3 {
  background-color: rgb(214, 199, 208);
}

.OOTDWrite-input-file {
  margin-top: 10px;
  background-color: var(--main-color-2);
  border-radius: 20px;
  color: black;
  cursor: pointer;
  margin-bottom: 30px;
}
