.main1 {
  @keyframes rbSpinner {
    from {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
    to {
      transform: rotate(-5deg);
    }
  }
  height: 100vh;
  display: flex;
  flex-flow: wrap;
  .rainbow {
    height: 100vh;
    width: 20%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .blank {
      height: 15rem;
    }
    &:hover {
      transform: scaleX(1.07);
      transition: 0.5s;
      .rainbow-p {
        transform: scale(1.2);
        transition: 1s;
      }
      .rainbow-img {
        animation: rbSpinner 1s;
        animation-iteration-count: infinite;
      }
      .speech-bubble {
        transform: scale(1);
        transition: 0.7s;
        text-align: center;
        font-size: 1.5rem;
        position: relative;
        background: #aeacee;
        border-radius: 0.4em;
        margin-bottom: 2rem;
        padding: 1rem;
        width: 15vw;
        color: black;
        ::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0;
          border: 19px solid transparent;
          border-top-color: #aeacee;
          border-bottom: 0;
          margin-left: -19px;
          margin-bottom: -19px;
        }
      }
    }
    .rainbow-p {
      position: absolute;
      bottom: 50%;
      color: aliceblue;
      font-weight: bold;
      font-size: 5rem;
    }
    .speech-bubble {
      transform: scale(0);
    }
    .rainbow-img {
      width: 15vw;
      height: 25vh;
    }
    &#rb1 {
      background-color: #f1c46c;
    }
    &#rb2 {
      background-color: #f6aaaa;
    }
    &#rb3 {
      background-color: #b5e8f9;
    }
    &#rb4 {
      background-color: #a7de93;
    }
    &#rb5 {
      background-color: #707cef;
    }
  }
}
