.Main4 {
  height: 50vh;
  width: 99.1vw;
  background-color: #aeacee;
  .reviews {
    margin-top: 3rem;
    height: 40vh;
    padding: 1rem;
    .review {
      background-color: white;
      height: 80%;
      width: 80%;
      min-width: 15rem;
      border: 1px solid black;
      margin: auto;
      border-radius: 1rem;
      box-shadow: 2px 2px 7px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .review-title {
        font-weight: bold;
        font-size: 1.1rem;
        min-width: 12rem;
      }
      .review-footer {
        font-size: 0.9rem;
        text-align: right;
      }
    }
  }
}
.slick-prev {
  left: 1% !important;
  z-index: 1;
}
.slick-next {
  right: 1% !important;
  z-index: 1;
}
