// signup
.signup-bg {
  height: 120vh;
  width: 65%;
  margin: auto;
  .signup {
    min-width: 65rem;
    margin: 3rem;
    padding: 2rem 3rem;
    display: flex;
    flex-flow: column;
    background-color: #ffffff;
    border: #B5A18C solid 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    .signup-agreement {
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .signup-agreement>li {
    list-style: none;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    padding: 1.5rem;
    &.signup-li-gray {
      border: 3px solid gray;
    }
    &.signup-li-orange {
      border: 4px solid orange;
      p {
        font-size: 1.5rem;
      }
    }
    .signup-p {
      display: inline-block;
      padding: 0 10px;
    }
  }
  .signup-agreement>span {
    padding: 50px;
  }
}
// step
.step-button {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 2rem 0 0 0;
  .prev-button {
    color: #f8f8f8;
    &:hover {
      background-color: #c7baac;
      transition: 0.3s ease-in;
    }
  }
  .next-button {
    color: #f8f8f8;
    &:hover {
      background-color: #472b0a;
      transition: 0.3s ease-in;
    }
  }
}
// step1
.step1-content {
  border: 1px solid gray;
  border-radius: 3px;
  margin: 1rem 0;
  padding: 2rem;
}
.step1-stack {
  margin: 1rem 0;
  padding: 1rem 0;
}
.step1-first {
  display: flex;
  justify-content: space-between;
}
.step1-chk-box {
  display: flex;
  justify-content: flex-end;
}
.step1-stack:last-child {
  margin: 0;
  align-items: center;
  padding: 0;
}
// step2
.step2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 15rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.step2-stack1 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.step2-stack2 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step2-line {
  border: 0.1px solid gray;
  background-color: gray;
  width: 0.1px;
  height: 100%;
}
.step2-form1 {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .step2-input {
    width: 20rem;
  }
}
.step2-form2 {
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: space-around;
  .step2-selects {
    display: flex;
    width: 50%;
    .chakra-select__wrapper {
      margin-right: 2rem;
    }
  }
}
.step2-isclass {
  display: flex;
  align-items: center;
  .step2-switch {
    margin-left: 1rem;
  }
}
// step3
.step3-form {
  margin: 0 auto;
  flex-wrap: wrap;
  width: 45rem;
  .step3-name-form {
    margin: 1rem 0 1rem 0;
  }
  .step3-password-form {
    margin: 1rem 0 1rem 0;
  }
}
.step3-last {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
// step4
.step4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step4-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  .step4-img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
  }
  p>span {
  color: #5c4428;
  }
}
.step4-last {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
}
.step4-button {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  line-height: 100%;
  text-align:left;
}
.step4-link {
  height: 56%;
  width: 40.5%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
  &#step4-main {
    background-color: #B5A18C;
    &:hover {
      background-color: #c7baac;
      transition: 0.3s ease-in;
      color: #f8f8f8;
    }
  }
  &#step4-login {
    background-color: #7e5526;
    &:hover {
      background-color: #472b0a;
      transition: 0.3s ease-in;
      color: #f8f8f8;
    }
  }
}