.ClassStudent {
  .student_login {
    .label-control {
      font-weight: 700;
      font-size: 1.5rem;
      display: inline-block;
    }
    .form-control {
      width: 10rem;
      font-size: 2rem;
      background-color: rgba(251, 251, 251, 0);
      font-weight: 700;
      color: rgb(29, 29, 175);
      border: none;
      cursor: auto;
      display: block;
    }
    .btn_box {
      width: 25rem;
      display: flex;
      justify-content: end;
      .submit_button {
      }
    }
  }
  background-image: linear-gradient(
      rgba(206, 195, 195, 0.239),
      rgba(240, 217, 217, 0.239)
    ),
    url("../image/sky4.gif");
  // background-repeat: no-repeat;
  // background-size: cover;
  background-repeat: repeat;
  background-size: 60%;
  height: 100vh;
  display: flex;

  .Conference_box {
    height: 55rem;
    width: 110rem;
    background-color: rgba(245, 245, 245, 0.712);
    display: flex;
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 7px;
    .left {
      width: 84rem;
      display: flex;
      flex-direction: column;
      .student_box {
        height: 11rem;
        margin-top: 1rem;
        margin-left: 1rem;
        border-radius: 20px;
        display: flex;
        flex-wrap: nowrap;
        background-color: rgba(190, 184, 184, 0.301);
        overflow-x: scroll;
        &::-webkit-scrollbar {
          visibility: hidden;
          width: 1px;
        }
        &:hover {
          &::-webkit-scrollbar {
            visibility: visible;
            width: 1px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #6bcaa6;
            border-radius: 7px;
            background-clip: padding-box;
            border: 1px solid transparent;
          }
        }
      }
      .teacher_button_box {
        display: flex;
        .teacher_box {
          flex: 9;

          margin-top: 1rem;
          border-radius: 15px;
          background-color: rgba(202, 202, 202, 0);
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
        .center_button_box {
          flex: 1;
          display: flex;
          flex-direction: column;

          .state_button {
            margin-top: 5rem;
            cursor: pointer;
            .dino {
              height: 10rem;
              transform: scaleX(-1);
            }
            &:hover {
              transform: scale(1.2);
              transition: 0.2s;
            }
          }
        }
      }
    }
    .right {
      .right_up {
        display: flex;
        margin-top: 1rem;
        justify-content: space-around;
        .grade_room {
          color: #51ca9c;
          display: inline-block;
          font-weight: 700;
          font-size: 1.5rem;
        }
        .exitButton {
          width: 7rem;
          background-color: #f53d3d;
          color: white;
        }
      }

      .chatting_box {
        height: 47rem;
        width: 25rem;
        margin: 1rem 1rem 1rem 1rem;
        padding: 1rem;
        border-radius: 10px;
        background-color: rgba(63, 184, 147, 0.582);
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        .chatting_log {
          height: 40rem;
          width: 30rem;
          border-radius: 5px;
          padding-bottom: 1rem;
          background-color: rgb(227, 243, 238);
          .text {
            margin-left: 1rem;
            .chat_line {
              margin-top: 0.3rem;
              width: 30rem;
              .chat_name {
                font-weight: 600;
                text-align: center;
                padding: 0.1rem 0.4rem;
              }
              .chat_content {
                display: inline;
                width: 100%;
                margin-left: 0.5rem;
                background-color: rgba(68, 209, 167, 0.411);
                border-radius: 5px;
                padding: 0.1rem 0.3rem;
              }
            }
          }
        }
        .input_box {
          background-color: whitesmoke;
          height: 3rem;
          width: 30rem;
          margin-top: 1rem;
        }
      }
      .warning {
        @keyframes blink-effect {
          50% {
            opacity: 0;
          }
        }
        margin-right: 2rem;
        font-size: 1.5rem;
        font-weight: 800;
        color: rgb(212, 97, 97);
        animation: blink-effect 2s step-end infinite;
      }
    }
  }
}
