.ClassStudent {
  background-image: linear-gradient(
      rgba(173, 173, 173, 0.5),
      rgba(173, 173, 173, 0.5)
    ),
    url("../image/grass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .Conference_box {
    height: 93vh;
    width: 90vw;
    background-color: rgba(245, 245, 245, 0.712);
    display: flex;
    margin: auto;
    margin-top: 3vh;
    border-radius: 10px;
    box-shadow: 3px 3px 7px;
    .left {
      width: 63vw;
      .student_box {
        height: 17vh;
        margin-top: 2vh;
        margin-left: 2vw;
        border-radius: 20px;
        display: flex;
        flex-wrap: nowrap;
        background-color: rgba(202, 202, 202, 0.692);
        overflow-x: scroll;
        &::-webkit-scrollbar {
          visibility: hidden;
          // visibility: visible;
          width: 1px;
        }
        &:hover {
          &::-webkit-scrollbar {
            visibility: visible;
            width: 1px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #6bcaa6;
            border-radius: 7px;
            background-clip: padding-box;
            border: 1px solid transparent;
          }
        }
        .student_screen {
          // 16:9 비율 맞추기
          flex: 0 0 auto;
          height: 13vh;
          margin-left: 1rem;
          margin-right: 1rem;
          width: 20vh;

          img {
            width: 100%;
            height: 100%;
            margin-top: 1rem;
            border-radius: 10px;
            box-shadow: 3px 3px 7px;
          }
        }
      }
      .teacher_box {
        height: 61vh;
        margin-top: 2vh;
        margin-left: 2vw;
        border-radius: 3vh;
        background-color: rgba(202, 202, 202, 0.692);
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
    }
    .left_btn_box {
      display: flex;
      justify-content: end;
      margin-top: 1rem;
      margin-left: 4rem;
      .warning {
        @keyframes blink-effect {
          50% {
            opacity: 0;
          }
        }
        margin-right: 2rem;
        font-size: 1.5rem;
        font-weight: 800;
        color: rgb(212, 97, 97);
        animation: blink-effect 2s step-end infinite;
      }
      .StarPage {
        background-color: rgb(245, 128, 147);
        color: whitesmoke;
      }
    }
  }
  .right {
    .chatting_box {
      height: 70vh;
      width: 25vw;
      margin-top: 1vh;
      margin-left: 1vw;
      border-radius: 10px;
      background-color: rgba(98, 207, 78, 0.582);
      .chatting_log {
        height: 60vh;
        width: 23vw;
        margin: auto;
        margin-top: 0.3rem;
        border-radius: 5px;
        background-color: rgb(246, 233, 233);
        .text {
          margin-left: 1rem;
          .chat_line {
            font-size: 1.25rem;
            margin-top: 0.3rem;
            width: 95%;
            .chat_name {
              font-weight: 700;
              font-size: 1.1rem;
              text-align: center;
              background-color: rgb(142, 231, 219);
              padding: 0.1rem 0.4rem 0.1rem 0.4rem;
              border-radius: 15px;
            }
            .chat_content {
              display: inline;
              width: 100%;
              margin-left: 0.5rem;
              background-color: rgb(253, 208, 216);
              border-radius: 5px;
            }
          }
        }
      }
      .input_box {
        background-color: whitesmoke;
        width: 23vw;
        margin-left: 1.2rem;
        margin-top: 1rem;
      }
    }
    .Button_box {
      margin-left: 2vw;
      margin-top: 2vh;
      display: flex;
    }
  }
  .right_up_btn_box {
    display: flex;
    justify-content: end;
    .exitButton {
      margin-top: 0.5rem;
      margin-right: 3vh;
      width: 7rem;
      background-color: #f53d3d;
      color: white;
      justify-items: center;
    }
  }
}
.right_down_btn_box {
  display: flex;
  justify-content: space-around;
  .OnOffButton {
    margin-top: 1rem;
    margin-left: 3rem;
    cursor: pointer;
    height: 6rem;
    // margin-left: 1rem;
    &:hover {
      transform: scale(1.1);
      transition: 0.1s;
    }
  }
}
