.student-modal-header {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}
@keyframes mySpinner {
  from {
    transform: rotate(-5deg);
  }
  50% {
    transform: scale(1.07) rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

.sticker-body {
  display: flex;
  align-items: center;
  .sticker-left {
    .big-dino {
      width: 120rem;

      animation: mySpinner 3s;
      animation-iteration-count: infinite;
    }
  }
  .sticker-right {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
  }
}
.sticker-mini {
  width: 6rem;
  height: 6rem;
  margin: 1rem;
  padding: 0;
  border-radius: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  .mini-dino {
    width: 4.5rem;
    height: 4.5rem;
    animation: mySpinner2 2s;
    animation-iteration-count: infinite;
    @keyframes mySpinner2 {
      from {
        transform: rotate(-5deg);
      }
      50% {
        transform: rotate(5deg);
      }
      to {
        transform: rotate(-5deg);
      }
    }

    &:hover {
      animation: none;
      transform: scale(1.2);
    }
  }
}
.modal_quiz_box {
  .quiz-body {
    background-color: rgb(245, 198, 110);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem;
    user-select: none;
    .quiz-name {
      width: 100%;
      padding: 1rem;
      border-radius: 1.2rem;
      background-color: whitesmoke;
      font-weight: bold;
      font-size: 1.3rem;
    }
    .quiz-content {
      // background-color: papayawhip;
      width: 100%;
      height: 100%;
      margin: 1rem 0;
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  .quiz-option {
    padding: 2rem;
    border-radius: 1.2rem;
    background-color: rgb(245, 245, 245);
    width: 48%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 2rem;
    &#selected {
      background-color: #c2f5aafb;
    }
    &:hover {
      background-color: #f8f7e2;
      cursor: pointer;
    }
  }
  .tiger {
    position: absolute;
    transform: scaleX(-1);
    left: 5rem;
    height: 8rem;
    width: 8rem;
  }
}
.ox-quiz-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3rem;
  user-select: none;
  .ox-quiz-name {
    width: 100%;
    padding: 1rem;
    border-radius: 1.2rem;
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .ox-quiz-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    .ox-quiz-option {
      margin: auto 0;
      padding: 2rem;
      border-radius: 1.2rem;
      background-color: rgb(245, 245, 245);
      width: 48%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-size: 2rem;
      &#selected {
        background-color: #f4f5a8;
      }
      &:hover {
        background-color: #f8f7e2;
        cursor: pointer;
      }
    }
  }
}
