.ClassTeacher {
  background-image: linear-gradient(
      rgba(173, 173, 173, 0.5),
      rgba(173, 173, 173, 0.5)
    ),
    url("../image/grass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .Conference_box {
    box-shadow: 3px 3px 7p;
    height: 93vh;
    width: 90vw;
    background-color: rgba(245, 245, 245, 0.712);
    box-shadow: 3px 3px 7px;

    margin: auto;
    border-radius: 10px;
    .top {
      display: flex;
      .student_box {
        height: 81vh;
        width: 70vw;
        margin: 1.5vh 0 0 1.5vw;
        border-radius: 10px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
        background-color: rgba(255, 255, 255, 0.616);
        overflow-x: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          visibility: hidden;
          width: 1px;
        }
        &:hover {
          &::-webkit-scrollbar {
            visibility: visible;
            width: 1px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #6bcaa6;
            border-radius: 7px;
            background-clip: padding-box;
            border: 1px solid transparent;
          }
        }
        .student_screen {
          cursor: pointer;
          // 16:9 비율 맞추기
          height: 16vh;
          width: 26vh;
          margin-left: 1rem;
          margin-right: 1rem;
          img {
            width: 100%;
            height: 100%;
            margin-top: 1rem;
            border-radius: 10px;
          }
        }
      }
      .chatting_box {
        height: 81vh;
        width: 25vw;
        margin: 1.5vh 1vw 1vh 1vw;
        border-radius: 10px;
        background-color: rgba(98, 207, 78, 0.582);
        .chatting_log {
          height: 60vh;
          width: 23vw;
          margin: auto;
          margin-top: 0.3rem;
          border-radius: 5px;
          background-color: rgb(246, 233, 233);
          .text {
            margin-left: 1rem;
            .chat_line {
              font-size: 1.25rem;
              margin-top: 0.3rem;
              width: 95%;
              .chat_name {
                font-weight: 700;
                font-size: 1.1rem;
                text-align: center;
                background-color: rgb(142, 231, 219);
                padding: 0.1rem 0.4rem 0.1rem 0.4rem;
                border-radius: 15px;
              }
              .chat_content {
                display: inline;
                width: 100%;
                margin-left: 0.5rem;
                background-color: rgb(253, 208, 216);
                border-radius: 5px;
              }
            }
          }
        }
        .input_box {
          background-color: whitesmoke;
          width: 23vw;
          margin: 1rem 1.2rem 0rem 1rem;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      margin: 3vh 1.7vw;
      .left_btn_box {
        display: flex;
        .exitButton {
          margin-right: 3vh;
          width: 7rem;
          background-color: #f53d3d;
          color: white;
        }
      }
      .right_btn_box {
        display: flex;
        .OnOffButton {
          margin-left: 2rem;
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
            transition: 0.1s;
          }
        }
      }
    }
  }
}
